aiocron==1.8
aiodns==3.0.0
aiofiles==24.1.0
aiohappyeyeballs==2.6.1
aiohttp==3.12.15
aiohttp-retry==2.9.1
aiokafka==0.10.0
aiosignal==1.4.0
aiosmtplib==3.0.1
aiosqlite==0.20.0
alembic==1.16.2
annotated-types==0.7.0
anyio==4.10.0
appnope==0.1.4
argon2-cffi==23.1.0
argon2-cffi-bindings==21.2.0
arrow==1.3.0
asgi-correlation-id==4.3.4
asttokens==3.0.0
async-lru==2.0.5
async-timeout==4.0.3
asyncio==3.4.3
asyncpg==0.30.0
attrs==23.1.0
Authlib==1.6.1
babel==2.17.0
backoff==2.2.1
bcrypt==4.3.0
beautifulsoup4==4.12.3
bleach==6.2.0
Brotli==1.1.0
bs4==0.0.2
build==1.3.0
cachetools==5.5.2
certifi==2024.12.14
cffi==1.17.1
charset-normalizer==3.4.1
chromadb==1.0.20
click==8.1.8
colorama==0.4.6
coloredlogs==15.0.1
colorlog==6.7.0
comm==0.2.2
contourpy==1.3.2
cos-python-sdk-v5==1.9.30
crcmod==1.7
croniter==1.4.1
cryptography==41.0.4
cycler==0.12.1
cyclopts==3.22.5
dataclasses-json==0.6.7
dateparser==1.2.0
ddgs==9.5.2
debugpy==1.8.14
decorator==5.2.1
deepmerge==2.0
defusedxml==0.7.1
Deprecated==1.2.14
dify-client==0.1.10
distro==1.9.0
dnspython==2.7.0
docstring_parser==0.17.0
docutils==0.22
dotenv==0.9.9
duckduckgo_search==8.1.1
durationpy==0.10
ecdsa==0.19.1
email_validator==2.2.0
exceptiongroup==1.3.0
executing==2.2.0
faiss-cpu==1.12.0
Faker==18.9.0
fastapi==0.116.1
fastapi-pagination==0.12.9
fastjsonschema==2.21.1
fastmcp==2.10.6
filelock==3.19.1
flatbuffers==25.2.10
fonttools==4.58.1
fqdn==1.5.1
frozenlist==1.4.0
fsspec==2025.7.0
geoip2==4.8.0
git-filter-repo==2.47.0
google-auth==2.40.3
googleapis-common-protos==1.70.0
greenlet==3.1.1
grpcio==1.74.0
grpcio-tools==1.59.0
h11==0.14.0
hf-xet==1.1.7
html2text==2020.1.16
httpcore==1.0.8
httptools==0.6.4
httpx==0.28.1
httpx-sse==0.4.1
huggingface-hub==0.34.4
humanfriendly==10.0
idna==3.10
IMAPClient==3.0.1
importlib_metadata==8.7.0
importlib_resources==6.5.2
iniconfig==2.0.0
ipykernel==6.29.5
ipython==9.3.0
ipython_pygments_lexers==1.1.1
isodate==0.7.2
isoduration==20.11.0
jedi==0.19.2
Jinja2==3.1.3
jiter==0.10.0
joblib==1.5.1
json5==0.12.0
jsonpatch==1.33
jsonpointer==3.0.0
jsonschema==4.24.0
jsonschema-path==0.3.4
jsonschema-specifications==2025.4.1
jupyter-events==0.12.0
jupyter-lsp==2.2.5
jupyter_client==8.6.3
jupyter_core==5.8.1
jupyter_server==2.16.0
jupyter_server_terminals==0.5.3
jupyterlab==4.4.3
jupyterlab_pygments==0.3.0
jupyterlab_server==2.27.3
jwcrypto==1.5.0
kafka==1.3.5
kafka-python==2.2.15
kiwisolver==1.4.8
kubernetes==33.1.0
langchain==0.3.27
langchain-chroma==0.2.5
langchain-community==0.3.27
langchain-core==0.3.74
langchain-huggingface==0.3.1
langchain-mcp-adapters==0.1.9
langchain-openai==0.3.30
langchain-pinecone==0.2.11
langchain-tavily==0.2.11
langchain-tests==0.3.20
langchain-text-splitters==0.3.9
langgraph==0.6.5
langgraph-checkpoint==2.1.1
langgraph-prebuilt==0.6.4
langgraph-sdk==0.2.0
langsmith==0.4.14
lazy-object-proxy==1.11.0
lingua-language-detector==2.0.2
loguru==0.7.3
lxml==5.4.0
Mako==1.3.10
markdown-it-py==4.0.0
MarkupSafe==3.0.2
marshmallow==3.26.1
matplotlib==3.10.3
matplotlib-inline==0.1.7
maxminddb==2.6.3
mcp==1.12.0
mdurl==0.1.2
mistune==3.1.3
mmh3==5.2.0
more-itertools==10.7.0
mpmath==1.3.0
multidict==6.0.4
mypy_extensions==1.1.0
nbclient==0.10.2
nbconvert==7.16.6
nbformat==5.10.4
nest-asyncio==1.6.0
networkx==3.5
notebook==7.4.3
notebook_shim==0.2.4
numpy==2.2.6
oauthlib==3.3.1
onnxruntime==1.22.1
oops-core-client==2.0.19
oops-i18n-client==1.0.1
oops-llm-client==2.0.16
oops-smartagent-client==1.0.0
oops-smartagent-dify-client==1.0.10
oops_common==0.1.141
oops_core_common==0.0.2
oops_smartagent_common==0.0.4
openai==1.99.9
openapi-core==0.19.5
openapi-pydantic==0.5.1
openapi-schema-validator==0.6.3
openapi-spec-validator==0.7.2
opentelemetry-api==1.36.0
opentelemetry-exporter-otlp-proto-common==1.36.0
opentelemetry-exporter-otlp-proto-grpc==1.36.0
opentelemetry-proto==1.36.0
opentelemetry-sdk==1.36.0
opentelemetry-semantic-conventions==0.57b0
orjson==3.11.2
ormsgpack==1.10.0
overrides==7.7.0
packaging==24.2
pandas==2.2.3
pandocfilters==1.5.1
parse==1.20.2
parso==0.8.4
passlib==1.7.4
pathable==0.4.4
pexpect==4.9.0
pillow==11.2.1
pinecone==7.3.0
pinecone-plugin-assistant==1.7.0
pinecone-plugin-interface==0.0.7
pipdeptree==2.13.0
platformdirs==4.3.8
pluggy==1.5.0
posthog==5.4.0
primp==0.15.0
prometheus_client==0.22.0
prompt_toolkit==3.0.51
propcache==0.3.2
protobuf==6.32.0
psutil==7.0.0
psycopg2-binary==2.9.10
ptyprocess==0.7.0
pure_eval==0.2.3
py-cpuinfo==9.0.0
py4j==0.10.9.7
pyasn1==0.6.1
pyasn1_modules==0.4.2
pybase64==1.4.2
pycares==4.3.0
pycparser==2.21
pycryptodome==3.22.0
pydantic==2.11.7
pydantic-settings==2.10.1
pydantic_core==2.33.2
Pygments==2.19.1
pyhumps==3.8.0
PyJWT==2.8.0
PyMySQL==1.1.1
pyparsing==3.2.3
pypdf==6.0.0
pyperclip==1.9.0
PyPika==0.48.9
pyproject_hooks==1.2.0
pyspark==3.5.5
pytest==8.3.4
pytest-asyncio==0.25.2
pytest-benchmark==5.1.0
pytest-codspeed==4.0.0
pytest-recording==0.13.4
pytest-socket==0.7.0
python-dateutil==2.9.0
python-dotenv==1.1.0
python-jose==3.5.0
python-json-logger==3.3.0
python-multipart==0.0.20
pytz==2023.3.post1
PyYAML==6.0.1
pyzmq==26.4.0
redis==5.0.2
referencing==0.36.2
regex==2024.11.6
requests==2.32.3
requests-oauthlib==2.0.0
requests-toolbelt==1.0.0
rfc3339-validator==0.1.4
rfc3986-validator==0.1.1
rich==14.1.0
rich-rst==1.3.1
rpds-py==0.25.1
rsa==4.9.1
safetensors==0.6.2
scikit-learn==1.7.1
scipy==1.16.1
Send2Trash==1.8.3
sentence-transformers==5.1.0
shellingham==1.5.4
six==1.16.0
sniffio==1.3.1
soupsieve==2.7
SQLAlchemy==2.0.20
sse-starlette==3.0.2
stack-data==0.6.3
starlette==0.47.3
sympy==1.14.0
syrupy==4.9.1
tenacity==9.1.2
tencentcloud-sdk-python-common==3.0.979
terminado==0.18.1
threadpoolctl==3.6.0
tiktoken==0.11.0
tinycss2==1.4.0
tokenizers==0.21.4
torch==2.8.0
tornado==6.5.1
tqdm==4.67.1
traitlets==5.14.3
transformers==4.55.2
typer==0.16.1
types-python-dateutil==2.9.0.20250516
typing-inspect==0.9.0
typing-inspection==0.4.1
typing_extensions==4.14.0
tzdata==2025.2
tzlocal==5.1
uri-template==1.3.0
urllib3==2.3.0
uvicorn==0.34.0
uvloop==0.21.0
vcrpy==7.0.0
watchfiles==1.1.0
wcwidth==0.2.13
webcolors==24.11.1
webencodings==0.5.1
websocket-client==1.8.0
websockets==15.0.1
Werkzeug==3.1.1
wrapt==1.15.0
xmltodict==0.14.2
xxhash==3.5.0
yarl==1.20.1
zipp==3.23.0
zstandard==0.23.0
